<!--
 - Lingua Immerse - Learn languages through immersion
 - Copyright (C) 2023-2024 Ander "Laquin" Aginaga San Sebastián
 - Licensed under version 3 of the GNU Affero General Public License
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href = '/languages/add'>Add language</a>
    <% for (var i = 0; i < languages.length; i++) { %>
        <p><%= languages[i].name %></p>
        <a href = '/languages/edit/<%= languages[i].id %>'>Edit</a>
        <form method="post" action="/languages/delete" onsubmit="return confirm('Are you sure you want to delete language \'<%= languages[i].name %>\'?');">
          <input type="hidden" name="id" value="<%= languages[i].id %>">
          <button type="submit">Delete</button>
        </form>
    <% } %>
  </body>
</html>