<!--
 - Lingua Immerse - Learn languages through immersion
 - Copyright (C) 2023-2024 Ander "Laquin" Aginaga San Sebastián
 - Licensed under version 3 of the GNU Affero General Public License
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href = '/texts/add'>Add text</a>
    <% for (var i = 0; i < texts.length; i++) { %>
        <p><%= texts[i].title %></p>
        <a href = '/texts/edit/<%= texts[i].id %>'>Edit</a>
        <form method="post" action="/texts/delete" onsubmit="return confirm('Are you sure you want to delete text \'<%= texts[i].title %>\'?');">
          <input type="hidden" name="id" value="<%= texts[i].id %>">
          <button type="submit">Delete</button>
        </form>
    <% } %>
  </body>
</html>