<!--
 - Lingua Immerse - Learn languages through immersion
 - Copyright (C) 2023-2024 Ander "Laquin" Aginaga San Sebastián
 - Licensed under version 3 of the GNU Affero General Public License
-->

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <!-- Add language form-->
        <form method="post" action="/languages/edit">
            <input type="hidden" name="id" value="<%= language.id %>"/>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%= language.name %>"/>
            <label for="dictionaryUrl">Dictionary</label>
            <input type="text" name="dictionaryUrl" id="dictionaryUrl" value="<%= language.dictionary_url %>"/>
            <label for="shouldShowSpaces">Show spaces</label>
            <input type="checkbox" name="shouldShowSpaces" id="shouldShowSpaces" <%= language.should_show_spaces ? 'checked' : '' %>/>

            <button type="submit">Add</button>
        </form>
    </body>
</html>