<!--
 - Lingua Immerse - Learn languages through immersion
 - Copyright (C) 2023-2024 Ander "Laquin" Aginaga San Sebastián
 - Licensed under version 3 of the GNU Affero General Public License
-->

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="post" action="/texts/edit">
            <input type="hidden" name="id" value="<%= text.id %>"/>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= text.title %>"/>
            <label for="content">Text</label>
            <textarea name="content" id="content"><%= text.content %></textarea>
            <label for="sourceUrl">URL</label>
            <input type="text" name="sourceUrl" id="sourceUrl" value="<%= text.source_url %>"/>

            <button type="submit">Add</button>
        </form>
    </body>
</html>